beautifulsoup4
discord
httpx
langchain
langchain-chroma
langchain-community
loguru
markdownify
mathutils
matplotlib
mypy
pydantic
pymongo
PyNaCl
python-dateutil
python-dotenv
readable-number
sentence-transformers
types-beautifulsoup4
types-python-dateutil